@model Blog.Models.ViewModel.PostViewModel

@{
    Layout = null;
}

<html>
<head>
  
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>

    <h2>Add a Post in Blog</h2>
    @using (Html.BeginForm("Post", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        <br />
        <div class="editor-field">
            @Html.EditorFor(m => m.Title, additionalViewData: new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
            <p style="color:purple"> @Html.ValidationMessageFor(m => m.Title) </p>
        </div>
        <br />
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Content, new { rows = 10, columns = 10, @class = "form-control", placeholder = "Content" })
            <p style="color:purple">@Html.ValidationMessageFor(m => m.Content) </p>
        </div>
        <br />
        <div>
            <label>Choose a Photo for Blog</label>
            @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
            <p style="color:purple"> @Html.ValidationMessageFor(m => m.ImageUpload) </p>
        </div>
        <br />

        @Html.Label("Categories:")
        <br />
        <br />
        @Html.ListBoxFor(m => m.CategoryIds, Model.Categories, new { @class = "listbox" })
        <p style="color:purple">
            @Html.ValidationMessageFor(m => m.CategoryIds)
        </p>
        <br />
        <br />
        <input type="submit" value="Post" />
        }

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
              rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $('.listbox').multiselect({
                    includeSelectAllOption: true
                });
            });
        </script>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
        }

        <div>
            <a asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
</body>
</html>
